/* ------- HEADER ------- */
.container {
	width: 100%;
	background-color: #f5f5f5;
	position: fixed;
	display: flex;
	height: 7rem;
	top: 0;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
	.container {
		top: 0;
	}
}

.logo {
	position: relative;
	margin: .5rem 0;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
	.logo {
	position: relative;
	margin-top: .5rem;
	margin-left: -2rem;
	}
}

object {
	height: 6rem;
}

.welcome-message {
	position:absolute;
   	top: -1rem;
   	right:0;
	margin: 2rem 2rem;
	color: #1e3ca0;
}

.exit-link {
	position:absolute;
   	top: 1.5rem;
   	right:0;
	margin: 2rem 2rem;
	color: #1e3ca0;
}

.welcome-message p {
	font-size: 1.4rem;
}

.exit-link a {
	font-size: 1.4rem;
	color: #1e3ca0;
	text-decoration: underline;
}

.exit-link a:hover {
	color: #1e3ca0;
	text-decoration: underline;
}

/* CONTROL PANEL */
.panel-group {
  	display: column;
  	align-items: center;
  	justify-content: center;
  	margin-top: 9rem;
  	font-size: 1.4rem;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
	.panel.panel-default  {
		width: 60rem;
	}
}

.panel.panel-default {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 350px) {
	.panel-group {
		width: 60rem;
		margin-left: -14rem;
	}
}

@media screen and (min-width: 370px) and (max-width: 400px) {
	.panel-group {
		width: 65.5rem;
		margin-left: -14rem;
	}
}

@media screen and (min-width: 410px) and (max-width: 500px) {
	.panel-group {
		width: 70rem;
		margin-left: -14rem;
	}
}

@media screen and (min-width: 660px) and (max-width: 1000px) {
	.panel-group {
		width: 70rem;
		margin-left: 0;
	}
}

.panel-heading {
	font-weight: 700;
	color: #1e3ca0;
	font-size: 1.4rem;
}

.green-value {
	color: green;
}

.input-group {
	margin: 1rem 16rem;
	position: relative;
	width: 50%;
	font-size: 1.4rem;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
	.input-group {
		width: 90%;
		margin-left: 1.5rem;
	}
}

input:focus { 
    outline: none !important;
    border-color: #1e3ca0;
    box-shadow: .1rem 0 1rem #1e3ca0;
    font-size: 1.4rem;
}

label {
	font-size: 1.4rem;
	font-weight: 400;
	margin-top: .8rem;
}

span {
	font-size: 1.2rem;
	font-weight: 700;
}

button {
	margin: 1rem 1rem;
	height: 3.5rem;
	padding: 0 2rem;
	color: #1e3ca0;
	cursor: pointer;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 3.8rem;
	text-decoration: none;
	background-color: transparent;
	border-radius: 1rem;
	border: .1rem solid #1e3ca0;
	box-sizing: border-box;
}

button:hover {
	color: #fff;
	background-color: #1e3ca0;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
	button {
		color: #fff;
		background-color: #1e3ca0;
	}
}