<!-- HEADER -->
<header>
	<div class="container col-xs-12 col-sm-12 col-md-2 col-lg-2">
		<div class="logo">
			<object class="svg-icons" data="./assets/svg/logo-blue-bank.svg" type="image/svg+xml"></object>
		</div>
		<div class="welcome-message">
			<p>Bem-vindo(a), <strong>Seu Nome</strong>!</p>
		</div>

		<div class="exit-link">
			<a href="#"><p>Sair</p></a>
		</div>
	</div>
</header>

<!-- CONTROL PANEL -->
<div class="panel-group">
    <div class="panel panel-default">
    	<div class="panel-heading">Minha Conta</div>
     	<div class="panel-body">
      		<p><strong>Conta Corrente - Saldo:</strong></p>
      		<p class="green-value">R$ 7.638.906,83</p>
      		<p><strong>Poupança - Saldo:</strong></p>
      		<p class="green-value">R$ 501.002.073,55</p>
      	</div>
    </div>
    <br>
    <div class="panel panel-default">
    	<div class="panel-heading">Transferências</div>
    	<label for="input-group">Insira os dados da conta para transferência:</label>
      	<div class="input-group">
  			<span class="input-group-addon" id="basic-addon1">CPF</span>
  			<input type="text" class="form-control" aria-describedby="basic-addon1">
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon2">Agência</span>
  			<input type="text" class="form-control" aria-describedby="basic-addon2">
		</div>
		<div class="input-group">
  			<span class="input-group-addon">Conta Corrente</span>
 			<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
		</div>
		<div class="input-group">
  			<span class="input-group-addon" id="basic-addon3">R$</span>
  			<input type="text" class="form-control" aria-describedby="basic-addon3">
		</div>
		<div class="buttons">
			<button>Transferir</button>
		</div>
    </div>
</div>

<!-- FOOTER -->
<p class="footer col-md-12">
  Desenvolvido com ♥ para <a href="https://www.ibm.com/br-pt/" target="_blank"><strong>IBM</strong></a>
</p>