<!-- HEADER -->
<header>
	<div class="container">
		<object class="svg-icons col-xs-12 col-sm-12 col-md-12" data="./assets/svg/logo-blue-bank.svg" type="image/svg+xml"></object>
	</div>
</header>
<!-- FORM -->
<div class="form">
	<div class="form-group row">
		<object class="svg-icons col-xs-12 col-sm-12 col-md-2" data="./assets/svg/id.svg" type="image/svg+xml"></object>
  		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    		<input class="form-control" type="number" placeholder="ID" id="example-text-input">
  		</div>
	</div>
	<div class="form-group row">
		<object class="svg-icons col-xs-12 col-sm-12 col-md-2" data="./assets/svg/cpf.svg" type="image/svg+xml"></object>
  		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    		<input class="form-control" type="text" placeholder="CPF" id="example-search-input">
  		</div>
	</div>
	<div class="form-group row">
		<object class="svg-icons col-xs-12 col-sm-12 col-md-2" data="./assets/svg/agencia.svg" type="image/svg+xml"></object>
  		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    		<input class="form-control" type="text" placeholder="Agência" id="example-email-input">
  		</div>
	</div>
	<div class="form-group row">
		<object class="svg-icons col-xs-12 col-sm-12 col-md-2" data="./assets/svg/conta-corrente.svg" type="image/svg+xml"></object>
  		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    		<input class="form-control" type="text" placeholder="Conta corrente" id="example-url-input">
  		</div>
	</div>
	<div class="buttons">
		<button id="button-clear" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">Limpar campos</button>
		<button id="button-login" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">Acessar conta</button>
	</div>
	<div class="link col-md-12">
		<a href="#">Esqueci meus dados.</a>
	</div>
</div>
<!-- FOOTER -->
<p class="col-md-12">
  Desenvolvido com ♥ para <a href="https://www.ibm.com/br-pt/" target="_blank"><strong>IBM</strong></a>
</p>