/* HEADER */
.container {
	width: 100%;
}

/* FONTS */
h1 {
	font-weight: 700;
	font-size: 4rem;
	text-align: center;
	color: #1e3ca0;
}

/* SVG */
header object {
	height: 10rem;
	margin-top: 2rem;
}

/* ------- FORM ------- */
/* FORM */
.form {
	width: 50%;
	position: absolute;
	top: 20rem;
	right: 0;
	bottom: 0;
	left: 14rem;
	margin: 0 auto;
}

@media screen and (width: 320px) {
	.form {
		width: 60%;
		top: 12rem;
		left: 0;
		margin-top: 2rem;
	}
}

@media screen and (min-width: 375px) and (max-width: 1000px) {
	.form {
		width: 60%;
		top: 12rem;
		left: 0;
		margin-top: 2rem;
	}
}

@media screen and (width: 800px) {
	.form {
		width: 40%;
	}
}

@media screen and (min-width: 1500px) and (max-width: 1950px) {
	.form {
		width: 40%;
		margin-left: 52rem;
	}
}

/* SVG */
object {
	height: 4rem;
}

/* INPUTS */
input {
	border: .2rem #fff solid;
	border-radius: 1rem;
	background: transparent;
}

input[type] {
	color: #fff;
}

input:focus { 
    outline: none !important;
    border-color: #1e3ca0;
    box-shadow: .1rem 0 1rem #1e3ca0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
    letter-spacing: .09rem;
}

:-moz-placeholder { /* Firefox */
   color: #fff;
   opacity: 1;
   letter-spacing: .09rem;
}

/* BUTTONS */
button {
	margin-top: 2rem;
	margin-bottom: 3rem;
	display: inline-block;
	height: 4rem;
	padding: 0 1rem;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 3.8rem;
	text-decoration: none;
	background-color: transparent;
	border-radius: 1.5rem;
	border: .3rem solid #fff;
	box-sizing: border-box;
}

#button-login {
	margin-left: 3rem;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
	#button-login {
		margin-left: 0;
	}
}

#button-clear:hover {
	background-color: #f21410;
}

#button-login:hover {
	background-color: #1e3ca0;
}

/* TEXTS WITHIN FORM AND BUTTONS */
#link {
	width: 30%;
}

.link a {
	color: #fff;
	text-decoration: underline;
	font-weight: 300;
	margin-left: 15rem;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
	.link a {
		margin-left: 1rem;
	}

	#button-clear {
		background-color: #f21410;
	}

	#button-login {
		background-color: #1e3ca0;
	}
}


@media screen and (min-width: 320px) and (max-width: 1000px) {
	#button-login {
		margin-top: -1.5rem;
	}
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
	.link a {
		margin-left: 10rem;
	}
}

@media screen and (min-width: 400px) and (max-width: 1000px) {
	.link a {
		margin-left: 3rem;
	}

	#button-clear {
		background-color: #f21410;
	}

	#button-login {
		background-color: #1e3ca0;
	}
}

@media screen and (min-width: 1500px) and (max-width: 1950px) {
	.link a {
		margin-left: 18rem;
	}
}

/* ------- FOOTER -------*/
/* FONT */
p {
	color: #fff;
	text-align: center;
	position: absolute;
   	left: 0px;
   	bottom: 0px;
   	width: 100%;
}

/* LINK */
.footer a {
	text-decoration: none;
	color: #fff;
}