/* You can add global styles to this file, and also import other style files */
/* GENERAL */
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #555;
	background-image: url("./assets/images/background-blue-bank.jpg");
	background-size: cover;
	height: 100vh;
}

@media screen and (min-width: 320px) {
	body {
		background-position: center center;
	}
}